{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'shop.css' %}" rel="stylesheet">
    <title>Магазин</title>

</head>

<body>
    <div class="content">
        <div class="title_shop">
            <h1>Shop</h1>
        </div>
        <div class="products">
            {% for product in products %}
            <h2 class="title_product">{{ product.title }}</h2>
            <p ><img class="img" src="{{ product.picture.url }}"></p>
            <h3 class="description_title">Опис <p class="product_title">{{ product.title }}</p></h3> 
            <p class="description">{{ product.description }}</p>
            <h2 class="comment_list">Коментарі до товару:</h2>
            {% for comment in comments %}
            <h3>{{ comment.author }}</h3>
            <p class="comment">{{ comment.text }}</p>
            <hr>
            {% endfor %}
            <form method="post" enctype="multipart/form-data">
                <h3>Коментар</h3>
                {% csrf_token %}
                <p><input class="create_title_comm" type="text" autocomplete="off" placeholder="Автор" name="author" required maxlength="255"></p>
                <p><textarea class="text_comm" name="text" cols="30" rows="10" placeholder="Контент" required
                        style="resize: none;"></textarea></p>
                {% if request.user.is_authenticated %}
                <p><input type="submit" class="button_comm" autocomplete="off" value="Опублікувати"></p>
                {% endif %}
            </form>
            {% endfor %}
        </div>
    </div>
</body>

</html>